<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
        <a ngbNavLink routerLink="">Army</a>

    </li>
    <li [ngbNavItem]="2">
        <a ngbNavLink routerLink="trap">Trap</a>

    </li>
    <li [ngbNavItem]="3">
        <a ngbNavLink routerLink="showdown">Showdown</a>

    </li>
    <li [ngbNavItem]="4">
        <a ngbNavLink routerLink="capital">Capital</a>

    </li>
    <li [ngbNavItem]="5">
        <a ngbNavLink routerLink="extra">Extra</a>

    </li>
</ul>