<div class="alert alert-danger" role="alert" *ngIf="showWarning">
    You do not have enough troops to fill the formation!
    <span *ngFor="let w of warningInfo;">
        <br />{{w}}
    </span>
</div>
<ngb-accordion [closeOthers]="false" [activeIds]="activeIds">
      <ngb-panel  *ngFor="let t of army.Tiers; let i = index" id="{{t.Level}}">
        <ng-template ngbPanelTitle>
          <span>Tier: {{t.Level}}</span>
        </ng-template>
        <ng-template ngbPanelContent>
            <div class="form-row">
                <label for="Infantry{{i}}" class="control-label col-sm-2">Infantry</label>
                <div class = "col-sm-6">
                    <p class = "form-control-static">{{t.Infantry}}</p>
                 </div>
            </div>
            <div class="form-row">
                <label for="Riders{{i}}" class="control-label col-sm-2">Riders</label>
                <div class = "col-sm-6">
                    <p class = "form-control-static">{{t.Rider}}</p>
                 </div>
            </div>
            <div class="form-row">
                <label for="Hunters{{i}}" class="control-label col-sm-2">Hunters</label>
                <div class = "col-sm-6">
                    <p class = "form-control-static">{{t.Hunter}}</p>
                 </div>
            </div>
        </ng-template>
      </ngb-panel>
  </ngb-accordion>