<div *ngIf="calcModels.length > 1">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li *ngFor="let model of calcModels; let j = index" [ngbNavItem]="j">
            <a ngbNavLink *ngIf="calcModels.length > 1">
                March {{ j + 1 }}
            </a>
            <ng-template ngbNavContent>
                <app-generic-view [model]="model" [marchSize]="marchSize" [prefix]="j">
                </app-generic-view>
            </ng-template>
        </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
<div *ngIf="calcModels.length == 1">
    <app-generic-view [model]="calcModels[0]" [marchSize]="marchSize" [prefix]="1"></app-generic-view>
</div>