<ngb-accordion [closeOthers]="true" activeIds="static--1">
    <ngb-panel id="static--1">
        <ng-template ngbPanelTitle>
          <span>March Size</span>
        </ng-template>
        <ng-template ngbPanelContent>
            <div class="form-row">
                <label for="marchsize" class="control-label col-sm-2">March Size</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" id="marchsize" [(ngModel)]="marchsize" (change)="save()" />
                </div>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" [(ngModel)]="army.MassiveMarch" (change)="save()">
                <label class="form-check-label" for="defaultCheck1">
                  Massive March
                </label>
              </div>
        </ng-template>
      </ngb-panel>
      <ngb-panel  *ngFor="let t of army.Tiers; let i = index" id="static-{{i}}">
        <ng-template ngbPanelTitle>
          <span>Tier: {{t.Level}}</span>
        </ng-template>
        <ng-template ngbPanelContent>
            <div class="form-row">
                <label for="Infantry{{i}}" class="control-label col-sm-2">Infantry</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" id="Infantry{{i}}" [(ngModel)]="t.Infantry" (change)="save()" />
                </div>
            </div>
            <div class="form-row">
                <label for="Riders{{i}}" class="control-label col-sm-2">Riders</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" id="Riders{{i}}" [(ngModel)]="t.Rider" (change)="save()" />
                </div>
            </div>
            <div class="form-row">
                <label for="Hunters{{i}}" class="control-label col-sm-2">Hunters</label>
                <div class="col-sm-6">
                    <input type="number" class="form-control" id="Hunters{{i}}" [(ngModel)]="t.Hunter" (change)="save()" />
                </div>
            </div>
        </ng-template>
      </ngb-panel>
  </ngb-accordion>

<!--
<div class="panel panel-default" *ngFor="let t of army.Tiers; let i = index">
    <div class="panel-heading">Tier {{t.Level}}</div>
    <div class="panel-body">
        <div class="form-row">
            <label for="Infantry{{i}}" class="control-label col-sm-2">Infantry</label>
            <div class="col-sm-6">
                <input type="number" class="form-control" id="Infantry{{i}}" [(ngModel)]="t.Infantry" />
            </div>
        </div>
        <div class="form-row">
            <label for="Riders{{i}}" class="control-label col-sm-2">Riders</label>
            <div class="col-sm-6">
                <input type="number" class="form-control" id="Riders{{i}}" [(ngModel)]="t.Rider" />
            </div>
        </div>
        <div class="form-row">
            <label for="Hunters{{i}}" class="control-label col-sm-2">Hunters</label>
            <div class="col-sm-6">
                <input type="number" class="form-control" id="Hunters{{i}}" [(ngModel)]="t.Hunter" />
            </div>
        </div>
    </div>
</div>

<div *ngFor="let t of army.Tiers; let i = index">
    <div class="form-row">Tier: {{t.Level}}</div>
    <div class="form-row">
        <label for="Infantry{{i}}" class="control-label col-sm-2">Infantry</label>
        <div class="col-sm-6">
            <input type="number" class="form-control" id="Infantry{{i}}" [(ngModel)]="t.Infantry" />
        </div>
    </div>
    <div class="form-row">
        <label for="Riders{{i}}" class="control-label col-sm-2">Riders</label>
        <div class="col-sm-6">
            <input type="number" class="form-control" id="Riders{{i}}" [(ngModel)]="t.Rider" />
        </div>
    </div>
    <div class="form-row">
        <label for="Hunters{{i}}" class="control-label col-sm-2">Hunters</label>
        <div class="col-sm-6">
            <input type="number" class="form-control" id="Hunters{{i}}" [(ngModel)]="t.Hunter" />
        </div>
    </div>

</div>
-->